*:not(i) {
    font-family: "Open Sans", sans-serif !important;
}


body {
    background-color: #F8F9FA;

}

.food_form_container {
    width: 100vw;
    height: 100vh;
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    .black_box {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .food_form * {
        color: #676A6C;
    }

    .food_info {
        input {
            background-color: #EEEEEE;
        }
    }

    .food_form {
        background-color: white;
        width: 80%;
        height: 90%;
        padding: 30px;
        border-radius: 10px;
        overflow-y: auto;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        .form_quote {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .close_form {
                align-self: flex-end;
            }

            .form_title {
                font-size: 30px;
            }
        }

        .food_form_header {
            width: 100%;

            #food_input {
                display: flex;
                gap: 40px;
            }

            .header_right {
                width: 40%;
            }

            .header_left {
                width: 60%;
            }
        }

        #food_input {
            width: 100%;

            .input_column {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .input-group * {
                border-radius: 0;
            }

            span,
            input {
                height: 55px;
            }


            .w-5 {
                flex: 0 0 5%;
                width: 5%;
            }

            .w-8 {
                flex: 0 0 8%;
                width: 8%;
            }

            .w-10 {
                flex: 0 0 10%;
                width: 10%;
            }

            .w-30 {
                flex: 0 0 30%;
                width: 30%;
            }

            .w-40 {
                flex: 0 0 40%;
                width: 40%;
            }

            .w-60 {
                flex: 0 0 60%;
                width: 60%;
            }

            .w-62 {
                flex: 0 0 62%;
                width: 62%;
            }

            .w-65 {
                flex: 0 0 65%;
                width: 65%;
            }

            .w-70 {
                flex: 0 0 70%;
                width: 70%;
            }

            .info_box {
                display: flex;
                align-items: center;
                background-color: #f8f9fa;
            }
        }

        .hr_info {
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            width: 100%;

            .hr_text {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                color: #1AB394;
            }
        }

        .form_main {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;


            .info_box {
                justify-content: center;
            }

            .form_main_top {
                #food_input {
                    display: flex;
                    gap: 40px;
                }

                .main_right {
                    width: 50%;
                }

                .main_left {
                    width: 50%;
                }
            }

            .input-group-text.w-30 {
                white-space: unset;
            }

            .form_main_bottom {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        .button_place {
            align-self: flex-end;

            .cancel_button {
                border: 1px solid rgba(0, 0, 0, 0.2);
            }

            .cancel_button:hover {
                color: white;
                background-color: rgb(95, 95, 95);
            }

            .save_button {
                color: white;
                background-color: #1ab394
            }

            .save_button:hover {
                background-color: #14846e;
            }
        }
    }
}


.ingredients_container {
    width: 100%;
    height: 100vh;
    display: flex;

    .sidebar-collapsed {
        display: none;
    }

    .main-expanded {
        margin-left: 0 !important;
    }


    .left {
        flex: 1;
        width: 100%;
        max-width: 220px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;

        .side_bar {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: #2F4050;

            .icon {
                width: 220px;
                height: 156px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 190px;
                    height: 44px;
                }
            }

            .small_icon {
                width: 30px;
                height: 30px;
                background-color: rgba($color: #FFFFFF1A, $alpha: 10%);
                color: #A7B1C2;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center
            }

            .side_bar_navs {
                flex: 1;
                width: 100%;

                nav {
                    width: 100%;
                    height: 50px;
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    cursor: pointer;
                }

                nav:hover:not(.current_page) {
                    background-color: #3e4f5f;
                }

                .nav_text {
                    color: #A7B1C2;
                }

                .current_page {
                    background-color: #293846;

                    .small_icon {
                        background-color: #12896D;
                        color: white;
                    }

                    .nav_text {
                        color: white;
                    }
                }

            }

            footer {
                width: 100%;
                height: 50px;
                padding: 16px;
                background-color: #12896D;
                display: flex;
                align-items: center;
                gap: 7px;

                .footer_icon,
                .foorter_text {
                    color: white;
                }
            }
        }
    }

    .right {
        width: 100%;
        height: 100%;
        margin-left: 220px;
        overflow-y: auto;

        header {
            width: 100%;
            height: 150px;
            background-color: white;
            color: #888888;
            display: flex;
            flex-direction: column;
            justify-content: center;

            nav {
                flex: 1;
                height: 50%;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav_bars {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #1AB394;
                    border-radius: 3px;
                    color: white;
                    width: 46px;
                    height: 32px;
                    cursor: pointer;
                }

                .nav_bars:hover {
                    background-color: #03aa88;
                }

                .user_info {
                    max-width: 151.9px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .small_box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        width: 8px;
                        height: 4px;
                        background-color: #bdbdbd;
                        border-color: #A7B1C2;
                    }
                }
            }

            .header_info {
                flex: 1;
                height: 50%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                .page_title {
                    font-size: 24px;
                }

                .page_text {
                    font-size: 13px;
                }
            }
        }

        main {
            width: 100%;
            max-height: 1440px;
            padding: 25px 15px;
            flex: 2;

            .main_container {
                width: 100%;
                height: 100%;
                padding: 20px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 5px;
                background-color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .page_render {
                    align-self: flex-end;

                    .page_button {
                        background-color: white;
                        padding: 5px 11px;
                        border: 1px solid #DDDDDD;
                        color: #676A6C;
                    }

                    .page_button.page_choice {
                        background-color: rgba($color: #000000, $alpha: 0.1);
                    }
                }

                .main_title {
                    color: #676A6C;

                    .title {
                        font-size: 20px;
                    }

                    .text {
                        font-size: 12px;
                    }
                }

                .main_tools {
                    width: 100%;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .search {
                        flex: 1;
                    }

                    .custom-select-wrapper {
                        position: relative;
                        width: 100%;
                        max-width: 200px;

                        .custom-select {
                            appearance: none;
                            padding-right: 3.5rem;
                            border: 1px solid #e0e0e0;
                            border-radius: 0;
                            color: #666;
                            background-color: #fff;
                            background-image: none;
                        }

                        .select-icon {
                            position: absolute;
                            right: 12px;
                            top: 0;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            padding-left: 12px;
                            border-left: 1px solid #ddd;
                            color: #555;
                            pointer-events: none;
                        }

                    }

                    .sort {
                        position: relative;

                        #addon-wrapping {
                            background-color: white;
                        }

                    }

                    .sort_by_category {}
                }

                .main_border {
                    width: 100%;
                    height: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 11px;

                    .main_card.create_food {
                        color: #888888;
                        gap: 10px;
                    }

                    .main_card {
                        width: 100%;
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                        font-size: 14px;
                        border-radius: 5px;
                        display: flex;
                        padding: 10px;
                        cursor: pointer;


                        .card_info {
                            flex: 2;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .info {
                                font-size: 16px;
                            }

                            .author {
                                font-weight: 300;
                            }
                        }

                        .card_paragraph {
                            flex: 1;
                            display: flex;
                            justify-content: space-around;
                            padding-right: 50px;
                            align-items: center;

                            .info_quote {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .info_title {
                                font-weight: 300;
                            }
                        }
                    }

                }

                .main_card:hover {
                    transform: scale(1.01);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    transition: all 0.2s ease-in-out;
                }


            }
        }

    }
}